//-app-markhopcraft
//-campervan.pug

extends templates/site-layout.pug

block prepend scripts
  script(src='/bundled-javascripts/bundled-campervan.js')
block append styles
  link(rel='stylesheet', type='text/css', href='/stylesheets/campervan.css')

block pageContent
  div
    p 
      | This is the financial black hole I built for myself 2016-2017. 
      | I bought the van itself for £4500, I stopped counting how much 
      | I spent on it some time after starting to weep tears of financial woe. 
      | It still needs a few odds and sods doing, proper curtains, upholstery, rejig the bog etc.
      
    section 
      h3 Van photo 1
      p Naff all done.
      img(src='/images/van/van1.jpg')
        
    section  
      h3 Van photo 2
      p Words here.
      img(src='/images/van/van2.jpg')
        
    section
      h3 Van photo 3
      p Words here.
      img(src='/images/van/van3.jpg')
    
    section    
      h3 Van photo 4
      p Words here.
      img(src='/images/van/van4.jpg')
        
    section
      h3 Van photo 5
      p Words here.
      img(src='/images/van/van5.jpg')
        
    section
      h3 Van photo 6
      p Words here.
      img(src='/images/van/van6.jpg')
    
    section
      h3 Van photo 7
      p Words here.
      img(src='/images/van/van7.jpg')
        
    section
      h3 Van photo 8
      p Words here.
      img(src='/images/van/van8.jpg')
        
    section
      h3 Van photo 9
      p Words here.
      img(src='/images/van/van9.jpg')
        
    section
      h3 Van photo 10
      p Words here.
      img(src='/images/van/van10.jpg')
        
    section
      h3 Van photo 11
      p Words here.
      img(src='/images/van/van11.jpg')
        
    section
      h3 Van photo 12
      p Words here.
      img(src='/images/van/van12.jpg')
        
    section
      h3 Van photo 13
      p Words here.
      img(src='/images/van/van13.jpg')
        
    section
      h3 Van photo 14
      p Words here.
      img(src='/images/van/van14.jpg')
        
    section
      h3 Van photo 15
      p Words here.
      img(src='/images/van/van15.jpg')
    
    section
      h3 Van photo 16
      p Words here.
      img(src='/images/van/van16.jpg')
    
    section
      h3 Van photo 17
      p Words here.
      img(src='/images/van/van17.jpg')
    
    section
      h3 Van photo 18
      p Words here.
      img(src='/images/van/van18.jpg')
    
    section
      h3 Van photo 19
      p Words here.
      img(src='/images/van/van19.jpg')
    
    section
      h3 Van photo 20
      p Words here.
      img(src='/images/van/van20.jpg')
        
    section
      h3 Van photo 21
      p Words here.
      img(src='/images/van/van21.jpg')
    
    section
      h3 Van photo 22
      p Words here.
      img(src='/images/van/van22.jpg')
        
    section
      h3 Van photo 23
      p Words here.
      img(src='/images/van/van23.jpg')
        
    section
      h3 Van photo 24
      p Words here.
      img(src='/images/van/van24.jpg')
        
    section
      h3 Van photo 25
      p Words here.
      img(src='/images/van/van25.jpg')
      
    section  
      h3 Van photo 26
      p Words here.
      img(src='/images/van/van26.jpg')
        
    section
      h3 Van photo 27
      p Words here.
      img(src='/images/van/van27.jpg')
        
    section
      h3 Van photo 28
      p Words here.
      img(src='/images/van/van28.jpg')
    
    section
      h3 Van photo 29
      p Words here.
      img(src='/images/van/van29.jpg')
      
    section
      h3 Van photo 30
      p Words here.
      img(src='/images/van/van30.jpg')
        
    section
      h3 Van photo 31
      p Words here.
      img(src='/images/van/van31.jpg')
        
    section
      h3 Van photo 32
      p Words here.
      img(src='/images/van/van32.jpg')
        
    section
      h3 Van photo 33
      p Words here.
      img(src='/images/van/van33.jpg')
        
    section
      h3 Van photo 34
      p Words here.
      img(src='/images/van/van34.jpg')
    
    section
      h3 Van photo 35
      p Words here.
      img(src='/images/van/van35.jpg')
        
    section
      h3 Van photo 36
      p Words here.
      img(src='/images/van/van36.jpg')
        
    section
      h3 Van photo 37
      p Words here.
      img(src='/images/van/van37.jpg')
        
    section
      h3 Van photo 38
      p Words here.
      img(src='/images/van/van38.jpg')
      
    section  
      h3 Van photo 39
      p Words here.
      img(src='/images/van/van39.jpg')
        
    section
      h3 Van photo 40
      p Words here.
      img(src='/images/van/van40.jpg')
        
    section
      h3 Van photo 41
      p Words here.
      img(src='/images/van/van41.jpg')
        
    section
      h3 Van photo 42
      p Words here.
      img(src='/images/van/van42.jpg')
        
    section
      h3 Van photo 43
      p Words here.
      img(src='/images/van/van43.jpg')
