//- portfolio
//- fcc-projects-tictactoe.pug

//- File description: 
//-

extends templates/site-layout.pug

block prepend scripts
  script(src='/bundled-javascripts/bundled-fcc-projects-tictactoe.js')

block append styles  
  link(rel='stylesheet', type='text/css', href='/stylesheets/fcc-projects-tictactoe.css')


block pageContent
  div#tictactoe
    section#gameOverall
      #gameCentral.gameCentralDefault
    #newGameButtSpacer
      button#newGameButt(onclick='resetGame()') NEW GAME
