//- portfolio
//- home.pug

//- File description:
//- home content.

extends templates/site-layout.pug

block prepend scripts
  script(src='/bundled-javascripts/bundled-home.js')
block append styles
  link(rel='stylesheet', type='text/css', href='/stylesheets/home.css')
    
block pageContent
  

 
      
